
body{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./assets/bg.jpg);
  max-width: 900px;
}
.container{
  width: 100%;
  height: 100%;

}
.options{
  width: 300px;
  margin: 10px;
  height: 60px;
  border-radius: 30px;
  background-color: #2C2958;
  color: white;
  font-size: 1rem;

 
}
.options:hover{
  background-color: #D20094;
  transform: scale(0.5s);
}
.questionText{
  margin-top: 10%;
  font-size: 30px;
  padding: 20px 25px;
  text-align: center;
  margin-left: 120px;
  color: white;
}
#optionbutton{
align-items: center;
width: 800px;
max-width: 80rem;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-left: 15%;
}

.timer{
  border: 11px solid #00FEFF;
  border-radius: 400px;
  margin-top: 3rem;
  height: 80px;
  width: 75px;
}
.timeprogess{
  text-align: center;
  color: white;
  font-size: 10px;
  
  
}
img{
  width: 150px;
  height: 40px;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbaricon{
  padding: 0px 100px;
}
span{
  color: #B61188;
}
.questioncount{
 justify-content: center;
 margin-left: 18%;
 margin-top: 10%;

}
h3{
  color: white;
  text-align: center;
  font-size: 20px;
}
.timeprogess{
  padding: 0;
  margin: 1.2rem;
  font-weight: bold;
  font-size: 0.6rem;
}